body{
    background-color: aliceblue;
}

.center {
    margin: auto;
    width: 50%;
    padding: 10px;
}

.center-text {
    text-align: center;
}

#create{
    margin-top: 100px;
}

#show-token{
    background-color: azure;
    border: cadetblue 1px solid;
    border-radius: 5px;
    padding: 30px;
    margin-bottom: 50px;
}

#save-btn {
    margin-top: 50px;
}

.q-txtbx{
    width: 300px;
}

.updated{
    color: red;
}

#saved{
    margin-top: 40px;
}

#timestamp{
    margin-top: 20px;
}

#admin-btn{
    position:absolute;
    bottom:10px;
    right:10px;
    border-radius: 3px;
    border: 1px whitesmoke;
}

th {
    color: black;
}

tr {
    color: darkslategrey;
    font-size: .7rem;
}

#admin-page{
    margin:60px;
}